/* body, 타이포그래피 등 기본 스타일 설정 */
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("//fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("//fonts.googleapis.com/css?family=Noto+Serif+KR:500,700&subset=korean");

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// box-sizing 일괄 설정
* {
    box-sizing: inherit;
}

// 링크 스타일 밑줄 및 색생 무효화
a {
    text-decoration: inherit;
    color: inherit;
}